
<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Recipe</h1>

<table>
  <tfoot>
  <tr>
    <td colspan="3">
        <%= link_to 'Back to Top', home_index_path %>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <% @menues.each do |menue| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="image">
        <%= image_tag(menue.image_url, class: 'list_image') %>
      </td>
      <td class="description">
        <h1><%= menue.name %></h1>
        <p>
          <strong>Ingridients:</strong>
          <%= menue.ingridients %>
        </p>
        <strong>Preparing Process:</strong>
        <%= truncate(strip_tags(menue.description), length: 80) %>
        </p>

      </td>
      <td class="actions">

            <li><%= link_to 'Details', menue %></li>


      </td>
    </tr>
  <% end %>
  </tbody>
</table>