<!DOCTYPE html>
<html>
  <head>
    <title>COOKING</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="main">
<%= image_tag 'vegetable.png', alt: 'cooking catalogue' %>
</header>
    <section class="content">
      <nav class="side_nav">
        <% if session[:user_id] %>
            <ul>
              <li><%= link_to 'Menues', menues_path %></li>
              <li><%= link_to 'Admin', admin_path %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
        <% end %>
        <% unless session[:user_id] %>
        <ul>
          <li><%= link_to 'Menues', menues_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        </ul>
        <% end %>
      </nav>

      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
